@model EntityLayer.Concrete.Portfolio;
@{
    ViewData["Title"] = "EditPortfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("EditPortfolio", "Portfolio", FormMethod.Post))
{
    
   <div class="col-12 grid-margin stretch-card">
        
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Proje Düzenleme Paneli</h4>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>Başlık</label>
                        @Html.TextBoxFor(x => x.PortfolioID, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Proje Başlığı")
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Proje Başlığı" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>

                    <div class="form-group">
                        @Html.Label("Görsel 1")
                        @Html.TextBoxFor(model => model.ImageUrl, new { @class = "form-control", @placeholder = "Tarih Bilgisi" })
                        @Html.ValidationMessageFor(model => model.ImageUrl)
                    </div>
                    <div class="form-group">
                        @Html.Label("Görsel 2")
                        @Html.TextBoxFor(model => model.ImageUrl2, new { @class = "form-control", @placeholder = "Resim Yolu" })
                        @Html.ValidationMessageFor(model => model.ImageUrl2)
                    </div>
                    <div class="form-group">
                        @Html.Label("Proje Linki")
                        @Html.TextBoxFor(model => model.ProjectUrl, new { @class = "form-control", @placeholder = "Resim Yolu" })
                        @Html.ValidationMessageFor(model => model.ProjectUrl)
                    </div>
                    <div class="form-group">
                        @Html.Label("Platform")
                        @Html.TextBoxFor(model => model.Platform, new { @class = "form-control", @placeholder = "Platform Yolu" })
                        @Html.ValidationMessageFor(model => model.Platform)
                    </div>
                    <div class="form-group">
                        @Html.Label("Fiyat")
                        @Html.TextBoxFor(model => model.Price, new { @class = "form-control", @placeholder = "Fiyat" })
                        @Html.ValidationMessageFor(model => model.Price)
                    </div>
                    <div class="form-group">
                        @Html.Label("Tamamlanma Oranı")
                        @Html.TextBoxFor(model => model.Value, new { @class = "form-control", @placeholder = "Tamamlanma Oranı" })
                        @Html.ValidationMessageFor(model => model.Value)
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <button class="btn btn-dark">İptal</button>
                </form>
            </div>
        </div>
    </div>
}




