@model EntityLayer.Concrete.Portfolio;
@{
    ViewData["Title"] = "EditPortfolio";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div class="card-header border-0">
    <h3 class="mb-0">Proje Ekleme Sayfası</h3>
</div>

@using (Html.BeginForm("EditPortfolio", "Portfolio", FormMethod.Post))
{
    @Html.HiddenFor(model => model.PortfolioID)
    <br />
    <div class="form-group">
        @Html.Label("Proje Başlığı")
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Proje Başlığı" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="form-group">
        @Html.Label("Görsel 1")
        @Html.TextBoxFor(model => model.ImageUrl, new { @class = "form-control", @placeholder = "Tarih Bilgisi" })
        @Html.ValidationMessageFor(model => model.ImageUrl)
    </div>
    <div class="form-group">
        @Html.Label("Görsel 2")
        @Html.TextBoxFor(model => model.ImageUrl2, new { @class = "form-control", @placeholder = "Resim Yolu" })
        @Html.ValidationMessageFor(model => model.ImageUrl2)
    </div>
    <div class="form-group">
        @Html.Label("Proje Linki")
        @Html.TextBoxFor(model => model.ProjectUrl, new { @class = "form-control", @placeholder = "Resim Yolu" })
        @Html.ValidationMessageFor(model => model.ProjectUrl)
    </div>
    <div class="form-group">
        @Html.Label("Platform")
        @Html.TextBoxFor(model => model.Platform, new { @class = "form-control", @placeholder = "Platform Yolu" })
        @Html.ValidationMessageFor(model => model.Platform)
    </div>
    <div class="form-group">
        @Html.Label("Fiyat")
        @Html.TextBoxFor(model => model.Price, new { @class = "form-control", @placeholder = "Fiyat" })
        @Html.ValidationMessageFor(model => model.Price)
    </div>
    <div class="form-group">
        @Html.Label("Tamamlanma Oranı")
        @Html.TextBoxFor(model => model.Value, new { @class = "form-control", @placeholder = "Tamamlanma Oranı" })
        @Html.ValidationMessageFor(model => model.Value)
    </div>

    <button type="submit" class="btn btn-info">Kaydet</button>

}




